html {
    scroll-behavior: smooth;
}

.header-cont {
    /* position: fixed; */
    /* height: 50px;
    background-color: var(--color-white); */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu-nav {
    display: none;
}

.logo {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.56px;
    line-height: 1.28;
    display: flex;
    align-items: center;
    gap: 8px;
}
   
.logo-icon {
    fill: var(--color-logo-menu);
}

.menu-btn {
    cursor: pointer;
    width: 24px; 
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
}
.menu-icon {
    fill: var(--color-logo-menu);
}

.menu-close-icon {
    display: none;
}

.mob-menu {
    position: fixed;
    top: 50px;
    z-index: 100;
    background-color: var(--color-green);
    padding-top: 124px;
    width: 100%;
    /* max-width: 375px; */
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    transform: translateX(100%);
    transition: var(--transition);
}

.mob-menu.is-open {
    transform: translateX(-20px);
}

.no-scroll {
    overflow:hidden;
}

.menu-btn.is-open .menu-open-icon {
    display: none;
}

.menu-btn.is-open .menu-close-icon {
    display: block;
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.mob-menu-item {
    color: var(--color-white);
    font-size: 14px;
    letter-spacing: -0.56px;
    line-height: 1.28;
}

.mob-menu-btn-cart {
    cursor: pointer;
    width: 20px; 
    height: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.mob-cart-icon {
    fill: transparent;
    stroke: var(--color-white);
}

.cart-btn {
    display: none;
}


/* MOBILE */

@media screen and (min-width: 375px) {
    .container {
        width: 375px;
        overflow-x: hidden;
        margin: 0 auto;
    }

    /* .menu {
        width: 375px;
    } */
}

/* TABLET */

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .header {
        align-items: center;        
    }

    .menu-btn {
        display: none;
    }
    

    .menu-nav {
       display: flex;
    }

    .menu-list {
        display: flex;
        gap: 14px;
        margin-right: 86px;
    }

    .menu-item {
        color: var(--color-black);
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.56px;

        transition: color var(--transition);
    }

    .menu-item:hover,
    .menu-item:focus {
        color: var(--color-green); 
    }

    .btn {
        margin-left: auto;
    }

    .cart-btn {
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        background-color: transparent;
        border: none;
        margin-left: auto;
    }

    .cart-icon {
        width: 20px;
        height: 20px;
        stroke: var(--color-black);
        fill: var(--color-white);

        transition: stroke var(--transition);
    }

    .cart-btn:hover .cart-icon {
        stroke: var(--color-green);
    }
}

/* DESCKTOP */

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .menu-nav {
        margin-right: 308px;
    }

    

    .cart-btn {
        width: 24px;
        height: 24px;
    }

    .cart-icon {
        width: 24px;
        height: 24px;
    }
}